html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}


/* font-family: 'Inter',
sans-serif;
font-family: 'Poppins',
sans-serif; */

body {
  font-family: 'Inter', sans-serif;
  color: #757E88;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  background: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 17px 0 8px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-adress {
  display: flex;
  align-items: center;
}

.header__top-adress span {
  color: #788695;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.header__top select {
  outline: none;
  border: none;
  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
  margin-right: 22px;
}

.header__top-list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.header__top-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #757E88;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.header__top-opening_hours {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #788695;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

.header__top-allowance {
  display: flex;
  gap: 8px;
}

.header__top-allowance img {
  margin-top: 8px;
}

.header__top-btn {
  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: transparent;
}

.header__center {
  display: flex;
  align-items: center;
  padding: 20px 0 28px;
}

.header__form {
  margin: 0 72px 0 160px;
  border: 1px solid #E9EDF1;
  width: 635px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  background: #F7F7FA;
}

.header__form select {
  outline: none;
  border: none;
  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.select {
  background: #fff;
  padding: 11px 11px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid #E9EDF1;
}

.header__form-input {
  outline: none;
  border: none;
  color: #849FBD;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  padding-left: 19px;
  background: #F7F7FA;
  width: 472px;
}

.header__form-input::placeholder {
  color: #849FBD;
  opacity: 1;
  transition: opacity 0.4s ease;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.header__form-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.header__form-btn {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #E7EEF5;
  margin-right: 2px;
}

.header__contact-block {
  display: flex;
  align-items: center;
}

.header__contact-linkbox {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__contact-link {

  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.header__contact-sublink {
  color: #1976D2;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  border-bottom: 2px solid #F1F4F8;
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.header__menu-item {
  display: flex;
  align-items: center;

}

.item-active {
  position: relative;
}

.item-active ::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  height: 2px;
  background: #1976D2;
}

.user-nav {
  display: flex;
  gap: 36px;
  align-items: center;
}

.header__menu-link {
  color: #292F39;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

.user-nav__link {
  position: relative;
}

.user-nav__num {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: #E32D22;
  color: #FFF;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  top: -6px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  background-image: url(../images/first/first-bg.jpg);
  background-repeat: no-repeat;
  /* background-position: left center; */
  background-size: cover;
}

.first__slider {
  padding: 131px 0 118px;
  max-width: 839px;
}

.first__slider-title {
  color: #292F39;
  font-size: 46px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.first__slider-title span {
  color: #1694ED;
}

.first__slider-text {
  margin-bottom: 27px;
}

.first__slider-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 14px 16px 16px 21px;
  border-radius: 50px;
  max-width: 194px;
  white-space: nowrap;
  background: linear-gradient(270deg, #1976D2 0%, #1696EF 100%);
}