html {
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}


/* font-family: 'Inter',
sans-serif;
font-family: 'Poppins',
sans-serif; */

body {
  font-family: 'Inter', sans-serif;
  color: #757E88;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  background: #fff;
  min-width: 1280px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 17px 0 8px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-adress {
  display: flex;
  align-items: center;
}

.header__top-adress span {
  color: #788695;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.header__top select {
  outline: none;
  border: none;
  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
  margin-right: 22px;
}

.header__top-list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.header__top-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #757E88;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.header__top-opening_hours {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #788695;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

.header__top-allowance {
  display: flex;
  gap: 8px;
}

.header__top-allowance img {
  margin-top: 8px;
}

.header__top-btn {
  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: transparent;
}

.header__center {
  display: flex;
  align-items: center;
  padding: 20px 0 28px;
}

.header__form {
  margin: 0 72px 0 160px;
  border: 1px solid #E9EDF1;
  width: 635px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  background: #F7F7FA;
}

.header__form select {
  outline: none;
  border: none;
  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.select {
  background: #fff;
  padding: 11px 11px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid #E9EDF1;
}

.header__form-input {
  outline: none;
  border: none;
  color: #849FBD;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  padding-left: 19px;
  background: #F7F7FA;
  width: 472px;
}

.header__form-input::placeholder {
  color: #849FBD;
  opacity: 1;
  transition: opacity 0.4s ease;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.header__form-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.header__form-btn {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #E7EEF5;
  margin-right: 2px;
}

.header__contact-block {
  display: flex;
  align-items: center;
}

.header__contact-linkbox {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__contact-link {

  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.header__contact-sublink {
  color: #1976D2;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  border-bottom: 2px solid #F1F4F8;
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.header__menu-item {
  display: flex;
  align-items: center;

}

.item-active {
  position: relative;
}

.item-active ::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  height: 2px;
  background: #1976D2;
}

.user-nav {
  display: flex;
  gap: 36px;
  align-items: center;
}

.header__menu-link {
  color: #292F39;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

.user-nav__link {
  position: relative;
}

.user-nav__num {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: #E32D22;
  color: #FFF;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  top: -6px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  background: url(../images/first/first-bg.jpg) center center / cover no-repeat;
}

.first__slider {
  padding: 131px 0 118px;
  width: 839px;
  margin-left: 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: 74%;
  bottom: 29px;
  padding: 5px;
  background: #E4E5E6;
  width: 65px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
}

.first .swiper-pagination-bullet {
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}


.first .swiper-pagination-bullet-active {
  background: #1976D2;
}

.first__slider-title {
  color: #292F39;
  font-size: 46px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.first__slider-title span {
  color: #1694ED;
}

.first__slider-text {
  margin-bottom: 27px;
}

.first__slider-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 14px 16px 16px 21px;
  border-radius: 50px;
  max-width: 194px;
  white-space: nowrap;
  background: linear-gradient(270deg, #1976D2 0%, #1696EF 100%);
}

.footer {
  background: #1A1E25;
  padding: 46px 0;
  color: #fff;
}

.footer__menu {
  display: flex;
  align-items: baseline;
  gap: 240px;
  padding-bottom: 32px;
}

.footer__menu-list {
  max-width: 180px;
}

.footer__menu-item h4 {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
}

.footer__menu-item {
  margin-bottom: 14px;
}

.footer__menu-link {
  color: #FFF;
  font-size: 15px;
  line-height: 20px;
}

.footer__subscribe {
  padding: 47px 0 44px;
  border-top: 1px solid #46484F;
  border-bottom: 1px solid #46484F;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__subscribe::before {
  content: "© 2023 Автошина.";
  position: absolute;
  width: 120px;
  height: 35px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  left: 0;
  bottom: -18px;
  background: #1A1E25;
}

.footer__form {
  display: flex;
  align-items: center;
}

.footer__form h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-right: 24px;
}

.footer__form-label {
  width: 505px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  border: 1px solid #2A2F2E;
  background: #232831;
  padding: 17px 0 17px 23px;
}

.footer__form-input {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer__form-input::placeholder {
  opacity: 1;
  transition: opacity 0.4s ease;
  color: #fff;
  opacity: 0.5;
}

.footer__form-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.footer__form-btn {
  width: 164px;
  height: 48px;
  /* padding: 13px 0; */
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  background: #E32D22;
  border-radius: 50px;
  margin-left: -168px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  line-height: normal;
  padding-left: 30px;
  position: relative;
}

.footer__contact ::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 1px;
  height: 63px;
  background: #46484F;
}

.social {
  padding-left: 0;
}

.social ::before {
  display: none;
}

.footer__social-link {
  width: 40px;
  height: 40px;
  background: #242932;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__contact-link span {
  color: #FFF;
  font-size: 15px;
  line-height: normal;
}

.footer__contact select {
  border: none;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  background: transparent;
}

.footer__contact select:focus {
  outline: none;
}

.selection {
  padding: 56px 0;
}

.selection__inner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 30px;
}

.selection__item {
  width: 625px;
  height: 466px;
  padding: 30px 32px 28px 39px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FFF;
  position: relative;
  box-shadow: 0px 8px 28px 0px rgba(217, 223, 231, 0.60);
}

.selection__img {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 16px;
}

.selection__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.selection__item-title {
  color: #292F39;
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
}

.selection__item-title a {
  color: #1976D2;
}

.tabs,
.tabs2 {
  padding: 13px 23px;
  width: 255px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 50px;
  border: 1px solid #E9EDF1;
  background: #FFF;
  box-shadow: 0px 3px 8px 0px #ECF0F4 inset;
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: #849FBD;
  font-size: 15px;
  line-height: 16px;
  z-index: 1;
}

input[type="radio"] {
  &:checked {
    &+label {
      color: #fff;
    }
  }
}

input[id="radio-1"] {
  &:checked {
    &~.glider {
      transform: translateX(0);
      width: 153px;
    }
  }
}

input[id="radio-2"] {
  &:checked {
    &~.glider {
      transform: translateX(148%);
      width: 100px;
    }
  }
}

input[id="radio-3"] {
  &:checked {
    &~.glider {
      transform: translateX(0);
      width: 153px;
    }
  }
}

input[id="radio-4"] {
  &:checked {
    &~.glider {
      transform: translateX(148%);
      width: 100px;
    }
  }
}

.glider {
  position: absolute;
  top: 3px;
  left: 3px;
  display: flex;
  width: 153px;
  padding: 18px 11px;
  color: #fff;
  flex-shrink: 0;
  border-radius: 50px;
  background: linear-gradient(270deg, #1976D2 0%, #1696EF 100%);
  box-shadow: 0px 3px 5px 0px rgba(23, 135, 225, 0.30);
  z-index: 0;
  transition: 0.25s ease-out;
}

.select-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.select-box span {
  color: #C1D2E5;
  font-size: 14px;
  line-height: 28px;
  margin-top: 32px;
}

.select-box svg {
  margin-top: 32px;
}

.select-box__select {
  position: relative;
  z-index: 10;
}

.select-box__select select {
  display: block;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: 9px 14px;
  border-radius: 6px;
  border: 1px solid #E9EDF1;
  background: #F7F7FA;
  width: 122px;
  color: #292F39;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  cursor: pointer;
}

.select-box__select::after {
  content: "";
  position: absolute;
  background: url(../images/selection/arrow-icon.svg) no-repeat;
  width: 18px;
  height: 18px;
  right: 14px;
  top: 55%;
  z-index: 1;
  pointer-events: none; 
}

.select-box__select::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 47px;
  right: 46px;
  top: 37%;
  background: #E9EDF1;
}

.select-box__select {
  color: #849FBD;
  font-size: 13px;
  line-height: 28px;
}

.select-box__right {
  max-width: 420px;
  flex-wrap: wrap;
  gap: 6px;
}

.select-box__right select {
  width: 185px;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  z-index: 10;
  margin-bottom: 30px;
}

.input-box__label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #292F39;
  font-size: 14px;
  line-height: 38px
}

.label-img {
  margin: 0 10px 0 12px;
}

.label-img-min {
  margin: 0 15px;
}

.input-box__input {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  outline: 1px solid #E5EAEF;
  background: #FFF;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
}

.input-box__input:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #E5EAEF;
  background: #FFF;
  position: relative;
}

.input-box__input:checked:before {
  color: black !important;
  content: "";
  position: absolute;
  background: url(../images/selection/arrow-icon.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.button-box {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 54px;
}

.button-box__link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding: 10px 21px 10px 26px;
  border-radius: 50px;
  background: linear-gradient(270deg, #1976D2 0%, #1696EF 100%);
}

.button-box__btn {
  color: #849FBD;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 50px;
  border: 1px solid #E9EDF3;
  width: 120px;
  padding: 10px 0;
}

.selection__question {
  position: absolute;
  bottom: 18px;
  color: #849FBD;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}

.selection__question-span {
  color: #292F39;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  padding: 2px 7px;
  border: 1px solid #E5EAEF;
  border-radius: 50%;
}